Repository Perl/perl5, pull requests merged in 2020-09, with the labels that each got.

#18115 perlop: put the stringy bitwise ops in precedence table
  pod/perlop.pod
Labels: documentation

#18124 Update Filter-Util-Call to CPAN version 1.60
  Porting/Maintainers.pl
  cpan/Filter-Util-Call/Call.pm
  cpan/Filter-Util-Call/Call.xs
  cpan/Filter-Util-Call/t/call.t
  cpan/Filter-Util-Call/t/rt_54452-rebless.t
  pod/perlfilter.pod
  t/porting/customized.dat
Labels: cpan-dual-life

#18126 Update Module-Load-Conditional to CPAN version 0.74
  Porting/Maintainers.pl
  Porting/cmpVERSION.pl
  cpan/Module-Load-Conditional/lib/Module/Load/Conditional.pm
  cpan/Module-Load-Conditional/t/test_lib/a/X.pm
  cpan/Module-Load-Conditional/t/test_lib/b/X.pm
  cpan/Module-Load-Conditional/t/to_load/Commented.pm
  cpan/Module-Load-Conditional/t/to_load/HereDoc.pm
  cpan/Module-Load-Conditional/t/to_load/InPod.pm
  cpan/Module-Load-Conditional/t/to_load/LoadIt.pm
  cpan/Module-Load-Conditional/t/to_load/LoadMe.pl
  cpan/Module-Load-Conditional/t/to_load/MustBe/Loaded.pm
  cpan/Module-Load-Conditional/t/to_load/NotMain.pm
  cpan/Module-Load-Conditional/t/to_load/NotX.pm
Labels: cpan-dual-life

#18136 Update IO-Zlib to CPAN version 1.11
  Porting/Maintainers.pl
  cpan/IO-Zlib/Zlib.pm
  cpan/IO-Zlib/t/basic.t
  cpan/IO-Zlib/t/external.t
  cpan/IO-Zlib/t/getc.t
  cpan/IO-Zlib/t/getline.t
  cpan/IO-Zlib/t/import.t
  cpan/IO-Zlib/t/large.t
  cpan/IO-Zlib/t/tied.t
  cpan/IO-Zlib/t/uncomp1.t
  cpan/IO-Zlib/t/uncomp2.t
Labels: cpan-dual-life

#18141 Update ExtUtils-Install to CPAN version 2.18
  Porting/Maintainers.pl
  cpan/ExtUtils-Install/lib/ExtUtils/Install.pm
  cpan/ExtUtils-Install/lib/ExtUtils/Installed.pm
  cpan/ExtUtils-Install/lib/ExtUtils/Packlist.pm
  cpan/ExtUtils-Install/t/Install.t
  cpan/ExtUtils-Install/t/InstallWithMM.t
  cpan/ExtUtils-Install/t/Installapi2.t
  cpan/ExtUtils-Install/t/Installed.t
  cpan/ExtUtils-Install/t/Packlist.t
  cpan/ExtUtils-Install/t/lib/MakeMaker/Test/Setup/BFD.pm
  cpan/ExtUtils-Install/t/lib/MakeMaker/Test/Utils.pm
  cpan/ExtUtils-Install/t/lib/TieOut.pm
Labels: cpan-dual-life

#18048 pp_split: RXf_NULL branch - separate out (gimme_scalar), reduce unnecessary work
  pp.c
Labels: awaiting review

#18180 Update Module-Load to CPAN version 0.36
  Porting/Maintainers.pl
  Porting/cmpVERSION.pl
  cpan/Module-Load/lib/Module/Load.pm
  cpan/Module-Load/t/01_Module-Load.t
  cpan/Module-Load/t/02_Module-Load.t
  cpan/Module-Load/t/to_load/LoadIt.pm
  cpan/Module-Load/t/to_load/Must/Be/Loaded.pm
  cpan/Module-Load/t/to_load/TestModule.pm
Labels: cpan-dual-life

#18181 Make dist/Carp strict compliant.
  dist/Carp/t/Carp.t
  dist/Carp/t/Carp_overloadless.t
  dist/Carp/t/broken_can.t
  dist/Carp/t/broken_univ_can.t
  dist/Carp/t/vivify_stash.t
Labels: strict
