Repository Perl/perl5, pull requests merged in 2023-12, with the labels that each got.

#21696 dist/IO: move binmode from IO::File to IO::Handle
  MANIFEST
  dist/IO/lib/IO/File.pm
  dist/IO/lib/IO/Handle.pm
  dist/IO/t/io_handle.t
Labels: dist-IO

#21698 locale.c: Add comment
  locale.c
Labels: distro-mswin32, documentation, type-locale

#21699 locale.c: Use shorter macro form
  locale.c
Labels: type-locale

#21706 locale.c: Rmv unnecessary declaration causing warning
  locale.c
Labels: distro-mswin32, type-locale

#21704 Simplify finding if a locale is UTF-8
  locale.c
Labels: type-locale

#21707 locale.c: Potentially avoid a recalculation
  locale.c
Labels: type-locale

#21702 locale.c: is_locale_utf8(): C locale cant be UTF-8
  locale.c
Labels: type-locale, hasConflicts

#21405 Configure: Fix swapped responses for SETLOCALE_ACCEPTS_ANY_LOCALE_NAME
  Configure
Labels: type-configure, type-locale

#21678 Add a work-around for older Perl's that need `@{^CAPTURE}`
  pod/perlvar.pod
Labels: documentation

#21758 perlapi: Combine, sv_insert, sv_insert_flags entries
  sv.c
Labels: documentation

#21735 locale.c: Avoid unnecessary malloc
  locale.c
Labels: type-locale

#21763 [POD] `diagnostics.pm`: Remove indirect syntax
  lib/diagnostics.pm
Labels: documentation

#21760 Fix a wrong sigil used in a perlre example
  .mailmap
  AUTHORS
  pod/perlre.pod
Labels: documentation

#21738 -DNO_LOCALE implies -DNO_LOCALE_CTYPE, etc.
  locale_table.h
Labels: type-locale

#21765 locale.c: Slightly change wording of DEBUG messages
  locale.c
Labels: type-locale

#21775 locale.c: Move declaration to first uses
  locale.c
Labels: type-locale

#21768 Remove references to nl_langinfo_l(), add comment
  embed.fnc
  embed.h
  locale.c
  proto.h
Labels: type-locale

#21762 locale.c: Move macro definition to before first use
  locale.c
Labels: type-locale
