Repository Perl/perl5, pull requests merged in 2024-02, with the labels that each got.

#21884 locale.c: Fix ALT_DIGITS on Alpine
  locale.c
Labels: type-locale

#21894 locale.c: Fix bug when -DNO_LOCALE_TIME
  locale.c
Labels: type-locale

#21895 locale.c: Don't compile unused function
  embed.fnc
  embed.h
  locale.c
  proto.h
Labels: type-locale

#21892 locale.c: Avoid unused param warnings
  locale.c
Labels: type-locale

#21912 locale.c: Combine some preprocessor directives
  locale.c
Labels: type-locale

#21861 Don't mortalize my_localeconv() for internal use
  locale.c
Labels: type-locale

#21908 locale.c: Use a critical section when locale is toggled
  locale.c
Labels: type-locale

#21668 locale_threads.t: Better handle weird locales
  lib/locale_threads.t
Labels: distro-mswin32, type-locale, build-time-warnings

#21821 perlfunc: document relationship between wait() and waitpid()
  pod/perlfunc.pod
Labels: documentation

#22006 Silence inconsequential warnings in win32/perlhost.h.
  win32/perlhost.h
Labels: build-time-warnings, type-win32build
