Repository Perl/perl5, pull requests merged in 2024-01, with the labels that each got.

#21759 locale.c: Fix bug in getting langinfo(CRNCYSTR)
  ext/I18N-Langinfo/t/Langinfo.t
  locale.c
Labels: type-locale

#21736 locale.c: Add/remove comments
  locale.c
Labels: type-locale

#21705 locale.c: Quit now if strftime() fails with EINVAL
  locale.c
Labels: type-locale

#21739 locale.c: Move three functions within file
  locale.c
Labels: type-locale

#21734 Hoist nl_item typedef definition
  embed.fnc
  embed.h
  locale.c
  perl_langinfo.h
  proto.h
Labels: type-locale

#21767 locale.c: Change some -DLv statements to -DL
  locale.c
Labels: type-locale

#21764 locale.c: Add a debugging statement
  locale.c
Labels: type-locale

#21766 Define setlocale_i() on unsafe threaded builds
  locale.c
Labels: type-locale

#21770 locale.c: Refactor an #ifdef
  locale.c
Labels: type-locale

#21790 locale.c: This label is only used in WIN32
  locale.c
Labels: type-locale

#21776 locale.c: C is the only locale under NO_LOCALE
  locale.c
Labels: type-locale

#21777 locale.c: toggling locales is a no-op if no locales
  locale.c
Labels: type-locale

#21771 locale.c: toggle LC_CTYPE in S_override
  locale.c
Labels: type-locale

#21774 locale.c: Minimize time spent with a toggled locale
  locale.c
Labels: type-locale

#21772 locale.c: handle codesets GB18030, EUC-TW
  locale.c
Labels: type-locale

#21773 locale.c: Reorder cases, code in a switch()
  locale.c
Labels: type-locale

#21798 locale.c: Move some functions to earlier in the file
  locale.c
Labels: type-locale

#21754 locale.c: Add clarifying comment
  locale.c
Labels: type-locale, hasConflicts

#21801 locale.c Use macro to avoid conditionals
  locale.c
Labels: type-locale

#21858 locale.c: Refactor some code
  locale.c
Labels: hasConflicts

#21862 locale.c: Use sv_setsv_nomg() over SvSetSV()
  locale.c
Labels: hasConflicts

#21891 locale.c: Add missing check for error return
  locale.c
Labels: type-locale

#21893 locale.c: Avoid unused parameter warning
  locale.c
Labels: type-locale

#21896 Langinfo.t: Set locale categories if no LC_ALL
  ext/I18N-Langinfo/t/Langinfo.t
Labels: type-locale

#21848 locale.c: Remove redundant lock
  locale.c
Labels: type-locale

#21849 localeconv: Need to toggle current MONETARY locale to desired one
  locale.c
Labels: type-locale

#21902 [doc] `perldelta`: Minor template fixes
  Porting/perldelta_template.pod
  pod/perldelta.pod
Labels: documentation
